[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium = "*"
flask = "*"
pytest = "*"
asyncio = "*"
unsync = "*"
aiohttp = "*"
aiofiles = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.13"
